.VerticalMenu {
  height: 100%;
  cursor: pointer;
}
.VerticalMenu .VerticalMenu-list{
  width: 100%;
}
.VerticalMenu-list .noData{
  background: #f2f2f2 !important;
}
.VerticalMenu-list .noData span{
  background: #f2f2f2 !important;
  cursor: none !important;
}
.VerticalMenu > div {
  float: left;
}
.VerticalMenu > div > div:first-child {
  text-align: center;
  height: 50px;
  background-color: white;
  line-height: 50px;
  border-bottom: 1px solid  #cdb0b0;
  transition: background-color 0.4s linear;
  padding: 0 15px;
}
.VerticalMenu > div > div:first-child > i:last-child {
  line-height: 50px;
  float: right;
  transform: rotate(0deg);
  transition: transform 0.4s linear;
}
.VerticalMenu > div > div:last-child {
  /*width: 200px;*/
  display: none;
}
.VerticalMenu > div:first-child > div:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.VerticalMenu > div:last-child > div:first-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.VerticalMenu > div:last-child::after {
  display: block;
  clear: both;
}
